# Common Lisp fasls / images
*.fasl
*.FASL
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.lx64fasl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl
*.abcl
*.x86f
*.sse2f

# Native / FFI
*.o
*.a
*.so
*.dylib
*.dll

# Editors / OS
*~
.#*
#*
*.swp
.DS_Store

# ASDF / Quicklisp
system-index.txt
.qlot/
quicklisp/